@import url(https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600&display=swap);
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    line-height: 1.7;
    font-size: 13px;
    background-color:hsl(210, 46%, 95%);
}
.Testimony {
    max-width: 1440px;
    margin:  auto;
    width: 90%;
    height: 100%;
    padding: 20px;
    font-family: 'Barlow Semi Condensed';
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 10px;
    grid-template-rows: 1fr 1fr;



}
header  {
    margin: 30px auto;
    display: flex;
    font-size: 13px;
    line-height: 15px;
}
header img{
    border-radius: 40px;
    background-color: hsl(0, 0%, 81%);
    height: 30px;
}
.header {
    margin:auto 10px;
    color: hsl(0, 0%, 81%);
}
.header p {
    opacity: 70%;
}
.header-white {
    margin:auto 10px;
    color: hsl(0, 0%, 81%);
}
.header-white p {
    opacity: 70%;

}
.main-white {
    margin-bottom: 20px;
    font-size: 13px;
    opacity: 70%;
    color: black;
}
.motive-white {
    font-size: small;
    opacity: 50%;
    color: black;
}

.main {
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: bolder;
    color: hsl(210, 46%, 95%);
     
}
.motive {
    font-size: small;
    opacity: 50%;
    color:hsl(0, 0%, 81%);
}

.testimonial.testimonial-purple {
    background-color: hsl(263, 55%, 52%);
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top 10px  right 30px ;
    padding: 20px;
    color:hsl(0, 0%, 81%);
    border-radius: 10px;
}

.testimonial.testimonial-dark-gray {
    background-color: hsl(217, 19%, 35%);
    padding: 20px;
    border-radius: 10px;
}

.testimonial.testimonial-dark-blue {
    background-color:  hsl(219, 29%, 14%);
    padding: 20px;
    border-radius: 10px;
}
.testimonial.testimonial-white{
    background-color :white;
    padding: 20px;
    color :hsl(0, 0%, 81%);
    border-radius: 10px;
    font-weight:bold;
}
.testimonial:nth-of-type(1){
    grid-column: 1/3;
}
.testimonial:nth-of-type(5){
    grid-column: 2/4;
}
.testimonial:nth-of-type(3){
    grid-column:4 ;
    grid-row: 1/3;
}
@media(max-width:875px) {
    .Testimony{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .testimonial:nth-of-type(1){
        grid-column: 1;
    }
    .testimonial:nth-of-type(3){
        grid-column: 1;
        grid-row: 3;
    }
    .testimonial:nth-of-type(5){
        grid-column: 1;
        grid-row: 5;
    }
}
